# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Env
.env*.local

# Hermes / datos locales (JSON generados)
/data/*.json

# Logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
